/* Reset some default browser styles */
html {
    scroll-behavior: smooth;
}
body, h1, h2, p, menu, li, img {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #ffd866, #ff92b3); 
    background-attachment: fixed; 
    transition: background-color 0.5s ease;
} 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav menu {
    display: flex;
}

header nav menu li {
    margin-left: 1rem;
}

header nav menu li a {
    color: #fff;
    text-decoration: underline;
}
#PRJ{
    color:#333;
}
section {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to bottom, #ffe84e, #f7dc6f); 
    background-attachment: fixed;
    transition: background-color 0.5s ease;
    margin: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    width: 70%;
    margin-bottom: 1%;
}

section:nth-child(1) {
    background: linear-gradient(to bottom, #ffd866, #ffea5c); /* Yellow to lighter yellow */
}

section:nth-child(2) {
    background: linear-gradient(to bottom, #ffb040, #ffac2d); /* Orange to lighter orange */
}

section:nth-child(3) {
    background: linear-gradient(to bottom, #ff8c1a, #ff8610); /* Dark orange to lighter orange */
}

section:nth-child(4) {
    background: linear-gradient(to bottom, #ff7233, #ff6b2a); /* Light orange to darker orange */
}

section:nth-child(5) {
    background: linear-gradient(to bottom, #ff4d4d, #ff4747); /* Light red to darker red */
}

section:nth-child(6) {
    background: linear-gradient(to bottom, #ff6785, #ff5d78); /* Pink to darker pink */
}

section:nth-child(7) {
    background: linear-gradient(to bottom, #ff82a2, #ff7896); /* Light pink to darker pink */
}

section:nth-child(8) {
    background: linear-gradient(to bottom, #ff9dbf, #ff92b3); /* Light pink to darker pink */
}

section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1); 
}

section .content {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    text-align: left; 
    flex-direction: row;
}

section .text {
    max-width: 800px; 
    text-align: left; 
}

section menu {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
}

section li {
    margin: 0 1rem; 
}
#experience {
    text-align: center;
}
#upper {
    display: flex;
    justify-content: center; 
    text-align: left; 
    flex-direction: column;
    height: 35%;
    width: 30%;
}
#lower {
    display: flex;
    justify-content: center; 
    text-align: left; 
    flex-direction: row;
    height: 35%;
    width: 30%;
}
.experience-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
#edu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 350px;
    margin: 4rem 2rem;
    text-align:left;
}

.LogoH {
    width: 70px;
    height: 70px;
}

#hero {
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
}

#hero .cta-button {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

#about .text {
    max-width: 800px;
    text-align: left;
}

#about img {
    max-width: 200px;
    margin-right: 2rem;
}

.contact-info p, h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

p {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form label {
    margin-top: 0.5rem;
    align-self: flex-start; 
}

form input, form textarea, form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; 
    max-width: 400px; 
}

.cta-button {
    width: 30%;
    align-self: center;
    background-color: #333;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s;
    position: relative; 
    z-index: 1; 
}

button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.social-links {
    display: flex;
    justify-content: center;

}

.social-links a {
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: underline;
    color: #fff;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer nav menu {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

footer nav menu li {
    margin-left: 1rem;
}

footer nav menu li {
    color: #fff;
    text-decoration: none;
}
a {
    color: #fff;
    text-decoration: underline;
}
@media (min-width: 858px){

}

